@model IEnumerable<CinemaFlixManager.Models.Movie>

<div class="row" id="cinema-list">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="box box-@item.showColour">
                <div class="box-header">

                    <h3 class="box-title">
                        <span class="change-active-status" data-cinema-id="@item.Id">
                            @if (item.IsCurrentlyShowing)
                            {
                                <button type="button" class="btn btn-box-tool">
                                    <i class="fa fa-film text-green"></i>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-box-tool">
                                    <i class="fa fa-film text-gray"></i>
                                </button>
                            }
                        </span>
                    </h3>

                    <div class="box-tools pull-right">
                        <div class="box-tools pull-right">
                            <a asp-action="Showings" asp-route-id="@item.Id" class="btn btn-box-tool">
                                <i class="fa fa-video-camera"></i>
                            </a>
                            <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-edit-@item.Id">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#modal-details-@item.Id">
                                <i class="fa fa-expand"></i>
                            </button>
                            <span class="remove-cinema" data-cinema-id="@item.Id">
                                <button type="button" class="btn btn-box-tool"><i class="fa fa-trash"></i></button>
                                @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-trash"></i></button>*@
                            </span>

                        </div>

                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <img class="profile-user-img img-responsive img-lg" src="@Html.DisplayFor(modelItem => item.thumbnail)" alt="User profile picture">
                    
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <p class="text-muted">@Html.DisplayFor(modelItem => item.Title)</p>
                </div>
            </div>

        </div>

        <!--Details-->
        <div class="modal fade" id="modal-details-@item.Id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">@item.Title</h4>
                    </div>
                    <div class="modal-body">
                        @*<p>One fine body&hellip;</p>*@
                        @await Html.PartialAsync("Details", @item)
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>*@
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

        <!--Edit-->
        <div class="modal fade" id="modal-edit-@item.Id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">@item.Title</h4>
                    </div>
                    <div class="modal-body">
                        @*<p>One fine body&hellip;</p>*@
                        @await Html.PartialAsync("Edit", @item)
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>*@
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    }

</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Default Modal</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
